repository: SuLab/DrugMechDB
output: web
topnav_title: DrugMechDB
site_title: DrugMechDB
company_name: Su Lab
host: 127.0.0.1
port: 4000
exclude:
  - .idea/
  - .gitignore
  - vendor
feedback_subject_line: DrugMechDB
feedback_email: blog@sulab.org
feedback_disable: true
highlighter: rouge
incremental: true

markdown: kramdown
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false
 syntax_highlighter: rouge

collections:
  tooltips:
    output: false

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      comments: false
      search: true
      sidebar: home_sidebar
      topnav: topnav
  -
    scope:
      path: ""
      type: "tooltips"
    values:
      layout: "page"
      search: true
      tooltip: true

  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: false
      search: true
      sidebar: home_sidebar
      topnav: topnav

sidebars:
- home_sidebar
- mydoc_sidebar
- product1_sidebar
- product2_sidebar
- other

description: "A database of paths that represent the mechanism of action from a drug to a disease in an indication."

# url: http://idratherbewriting.com
# baseurl: /documentation-theme-jekyll


github: [metadata]
